<app-modal #modal title="Login" submitText="Login" [submitEnable]="canSubmit()" (submitAction)="onSubmit($event)">
  <div class="form-group">
    <label class="" for="username">Usuário / E-Mail</label>
    <input [(ngModel)]="username" class="form-control" id="username" type="text" placeholder="Usuário / E-Mail" required>
  </div>
  <div class="form-group">
    <label class="" for="password">Senha</label>
    <input [(ngModel)]="password" class="form-control" id="password" type="password" placeholder="**********" required>
  </div>
  <div *ngIf="errorMessage !== null" class="form-group">
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
  <div class="d-flex w-100">
    <p class="">Não tem conta? <a (click)="register.emit()">Cadastre-se</a>!</p>
  </div>
</app-modal>
