a {
  color: rgba(255, 255, 255, 0.5) !important;
  &:hover {
    color: #fff !important;
  }
  &.navbar-brand {
    color: #fff !important;
  }
}

li {
  margin-right: 20px;

  &.btn {
    margin-right: 0px;
  }
}

a.btn-light {
  color: #000 !important;
  border-radius: 20px;
  padding: 8px 20px !important;
  &:hover {
    color: #000 !important;
  }
}
