.icon {

  &.profile {
    display: block;
    width: 100px;
    height: 100px;
    background: url('../assets/profile.svg');
    background-size: 100px 100px;
  }

}

img.rounded-circle.profile {
  width: 40px;
  height: 40px;
  &:hover {
    // outline: 3px solid #ffffff;
    box-shadow: 0 0 7px #ddd;
  }
}
