.modal-dialog {
  height: 100%;
  margin-top: 8em !important;
}

.modal-content {
  margin-top: auto;
  margin-bottom: auto;
}

.custom-tooltip.tooltip {
  left: -80px !important;
  top: 5px !important;
}

.custom-tooltip .tooltip-inner {
  background-color: $primary;
}

.custom-tooltip .arrow::before {
  border-bottom-color: $primary !important;
  transform: translateX(80px);
}

.bg-primary {
  background: $primary !important;
}

.bg-card {
  background: $text-light !important;
}

.text-primary {
  color: $primary !important;
}

.btn.btn-primary {
  background-color: $primary;
  border-color: $primary-border;
  font-size: 1.0em;
  border-radius: 40px;
  padding: 10px 20px;
}
